/*Animation loader*/

.loader-frame{
  width: 100vw; 
  height: 100vh; 
  background:#fff;
  position: fixed; 
  top:0;
  left:0;
  z-index: 999999; 
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disapeare 1s linear forwards 1s;
}
.loader{
  border: 16px solid #f3f3f3;
  top:100px;
  border-radius: 50%;
  border-top: 16px solid #161616;
  width: 100px;
  height:100px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes disapeare{
  0% {
    opacity:100%
  }
  100%{
    opacity: 0%;
    z-index: -1;
  }
}
button.explorez:hover{
  transform: scale(1.1);
  opacity:0.8;
}
div.menuResto_discription, .menuResto_price{
  
  animation: monika 1s ease 1s 1 normal forwards;
}
@keyframes monika {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
    
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


  .template-home{
  /*animation: showingWebsite 5s linear 2s 1 forwards;*/
  animation:showingWebsite 4s linear 2s forwards;
  }

  @keyframes showingWebsite {
    0% {
      opacity: 0;
      /*transform: translateY(1250px);*/
    }
  
    100% {
      opacity: 1;
      /*transform: translateY(0);*/
    }
  }
  a:hover{
    transform: scale(1.1);
  }