body.template-restaurant{
  background-color: #f6f6f6;
  font-family: $font-family-text;

.hero-image {
  width: 100%;
  height: 220px;
  position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
div.titre-main {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    position: relative;
    font-family: $font-family;
    font-weight: 100;
    margin-top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #f6f6f6;
    h3 {
      font-size: 30px;
      padding-top: 10px;
    }
    .far {
      margin-top: 18px;
    }
  }

  section > h3 {
    text-transform: uppercase;
    position: relative;
    font-weight: 50;
    margin-left: 25px;
    margin-top: 20px;
    /*text-decoration: underline $tertaire-color 2px;*/
  }
  section > h3::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    height: 1px;
    width: 40px;
    background-color: $tertaire-color;
  }
  main, main div.menu {
    display: flex;
    flex-direction: column;
    gap:8px;
  }
  section.section-entres,section.section-plats,section.section-desserts{
    display: flex;
    flex-direction: column;
    gap:8px;
  }
  .entre,.plats,.desserts{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    background-color:white;
    border-radius: 25px;
  }
  
   .entre-titre,.plat-titre,.dessert-titre{
    display: flex;
    flex-direction: column;
    gap:5px;
    flex:80%;
    padding:10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .entre-prix-special{
    display: none;
    background-color:green;
  }
   .entre-prix,.plat-prix,.dessert-prix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 20%;
    font-weight: bold;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    p{
      margin-top: 25px;
    }
  }
  .entre-prix:hover{
    
    animation:test 3s ease 3s;
    transition:500ms linear;
    .entre-prix-special{
      display: block;
    }
  }
@keyframes test {
  0%{
    transform: translateX(250px);
    background-color:$tertaire-color;
  }
  100%{
  transform: translateX(0px);
    background-color:$tertaire-color;
  }
}
  
  
  .section-entres .entre, .section-plats .plats, .section-desserts.desserts{
    animation: monika 2s ease 2s forwards;
  }
  @keyframes monika {
    0% {
      transform: translateY(50px);
      opacity: 0%;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 100%;
    }
  }
  
  
}
