$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertaire-color: #99e2d0;
$header-color: #eaeaea;
$footer-color:#353535;
$header-color-slogan:#f6f6f6;
$hfour:20px;
$hthree:22px;
$htwo:22px;
$p:16px;
$width-logo: 200px;
$moving-left: 20px;
$font-family:"Shrikhand", curisve;
$font-family-text:"Roboto";
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}