
@import "../sass/utils/variables";
@import "../sass/layout/header";
@import "../sass/templates/mainresto";
@import "../sass/layout/headresto";
@import "../sass/templates/accueil";
@import "../sass/layout/footer";
@import "../sass/utils/animation";
@import "../sass/components/button";
@import "../sass/components/heart";
@import "../sass/templates/media_accueil";
@import "../sass/templates/media_resto";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }