
@import "variables";
@import "../sass/Layout/header";
@import "../sass/Base/mainresto";
@import "../sass/Layout/headresto";
@import "../sass/Base/accueil";
@import "../sass/Layout/footer";
@import "animation";
@import "../sass/Components/button";
@import "../sass/Components/heart";
@import "media_tablette";
@import "media_desktop";
@import "../sass/Layout/media_resto";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }