footer{
    display: flex;
    flex-direction: column;
    gap:7px;
    background-color:$footer-color;
    color:$basic-color;
    padding: 20px;
    .footer-logo{
        font-family: $font-family;
    }
    .footer-list-proposer,.footer-list-devenir{
        display: flex;
        gap:15px;
    }
}
