
header.accueil {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color:$header-color-banner;
    .header-logo {
      width: 100%;
      display: flex;
      justify-content: center;
      padding:1rem;
      background-color:$base-color;
      box-shadow: 0 8px 5px -5px grey;
      z-index: 9999;
        img {
      width: $width-logo;
      margin: 0 auto;
    }
  }
    .header-map {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem 0;
      gap: 1rem;
      background-color: $header-color;
      font-weight: 800;
    }
    .header-pub, .header-information {
      display: flex;
      flex-direction: column;
      padding:5px;
      background-color: $header-color-banner;
      text-align: center;
      padding-top: 1.5rem;
      width: 100%;
      p{
        font-weight: 250;
      }
    }
    .header-pub h2{
      font-family: 'Roboto';
      font-weight: 500;
      font-size:$htwo;
    }
}