@media (min-width: $breakpoint-tablet) {
  body.template-restaurant {
    max-width: 990px;
    margin: 0 auto;
    .hero-image {
      height: 350px;
    }
    button.commander {
      width: 30%;
    }
    /*div.entre-prix {
      margin-left: 55px;
      background-color:red;
      p {
        padding-left: 60px;
      }
    }*/
  }
}

@media (min-width: $breakpoint-desktop) {
  body.template-restaurant {
    max-width: 1400px;
    margin: 0 auto;
    main div.restaurante {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .restaurants_menus{
        width: 33%;
      }
    }
    button.commander {
      width: 20%;
    }
  }
}
